@theme-color: #2d8cf0;
@border-color: #dcdee2;
@input-focus-color: #57a3f3;
@body-color: #f3f3f3;
@font-color: #515a6e;
@footer-color: #2a2a2a;
@blue: rgb(0, 47, 167);
@lighter-blue: #205493;
@success-color: #19be6b;

.btn(){
  padding: 0 12px;
  border: 1px solid @theme-color;
  border-radius: 5px;
  color: #ffffff;
  background: @theme-color;
}
